html, body {
    overflow: hidden;
    margin: 0;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'LiHei Pro', 'Arial', 'Sans-Serif';
    color: #333;
}

div {
    position: absolute;
    left: 0;
    width: 320px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

h1 {
    font-family: 'Montserrat', 'Helvetica Neue', 'Arial', 'Sans-Serif';
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 9px;
    margin: 12px 0;
    left: 4px;
    position: relative;
}

h2 {
    color: #999;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .12em;
    margin-bottom: 30px;
    left: 3px;
    position: relative;
}

p {
    color: #999;
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 2px;
}

a {
    color: #999;
    text-decoration: none;
    transition: color .2s ease;
}

a:hover {
    color: #607D8B;
}